.contents__wrapper
  .slider
    .contents__banner
      = image_tag 'banner-top.png', width: '100%'
    .contents__banner
      = image_tag 'banner-top.png', width: '100%'
  .contents__all-items
    %h2.contents__all-items__head
      すべての商品
    .contents__items
      = render partial: "products/item", collection: @products, as: :product

    .contents__item__box__all-items-view
      全ての商品を見る
