%aside.app-banner
  .app-banner__pc
    .app-banner__pc__inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！

      .app-banner__pc__inner__icon.clearfix
        %figure.merucari
          = image_tag("custom-banner-icon.png")
          
        %ul.icon
          %li
            = image_tag("app-store.svg")
          %li
            = image_tag("google-play.svg")
            -# %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
              %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1905591235", :width => "133",class: "googleplay"}/
      %li.figure
        = image_tag("download_content_pc.png")
        -# %img{:alt => "", :height => "262.63", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?1905591235"}/


%footer.global-footer
  %nav.info
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          会社概要（運営会社）
        %li
          採用情報
        %li
          プレスリリース
        %li
          公式ブログ
        %li
          メルカリロゴ利用ガイドライン
        %li.footer-social-link
          %i.fab.fa-twitter
          %i.fab.fa-facebook-square

    .footer-cell
      %h2.footer-head ヘルプ＆ガイド
      %ul
        %li
          メルカリガイド
        %li
          らくらくメルカリ便
        %li
          ゆうゆうメルカリ便
        %li
          大型メルカリ便
        %li
          車体取引ガイド
        %li
          メルカリあんしん・あんぜん宣言！
        %li
          偽ブランド品撲滅への取り組み
        %li
          メルカリボックス
    .footer-cell.full-width
      %h2.footer-head プライバシーと利用規約
      .inner-footer
        .inner-footer-cell
          %ul
            %li
              プライバシーポリシー
            %li
              メルカリ利用規約
            %li
              あんしんスマホサポート制度に関
              %br する利用特約
            %li
              コンプライアンスポリシー

        .inner-footer-cell
          %ul
            %li
              個人データの安全管理に係る基本方針
            %li
              特定商取引に関する表記
            %li
              資金決済法に基づく表示
            %li
              法令順守と犯罪抑止のために
            %li
              返品・返金ポリシー
    .footer-cell.footer-nav-lang
      %h2.footer-head 国
      %ul
        %li
          日本
        %li
          United States

  .footer-bottom
    %a.footer-logo{:href => "https://www.mercari.com/jp/"}
      %img{:alt => "mercari", :height => "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?1905591235", :width => "124"}/
    %span.footer-copyright
      %small © 2019 Mercari
