.header
  .header__top
    .header__top__logo merkari 
    .header__top__search-box
      %form
        %input.header__top__search-box__input-box{type: "text", placeholder: "何かお探しですか？"}
        %input.header__top__search-box__submit-btn{type: "submit", value: "Send"}
  .header__bottom
    %ul.header__bottom__search-menu
      %li.header__bottom__search-menu__category カテゴリから探す
      %li.header__bottom__search-menu__brand ブランドから探す
    %ul.header__bottom__user-menu
      %li.header__bottom__user-menu__good いいね一覧
      %li.header__bottom__user-menu__notification お知らせ
      %li.header__bottom__user-menu__to-do-list やることリスト
      %li.header__bottom__user-menu__mypage マイページ

