%li.header-bottom__user-menu__notification__wrapper__content
  = image_tag "mercari_profile.png"
  .header-bottom__user-menu__notification__wrapper__content__box
    .header-bottom__user-menu__notification__wrapper__content__box__text
      = header_notification
    .header-bottom__user-menu__notification__wrapper__content__box__time
      = fa_icon 'clock-o', class:'gray'
      = notification_time
