.registration_login-container.progress_bar-container
  = render "signup/registration_login_header"
  %nav.progress-bar
    %ol.step-bar
      %li{class:@member_information_title}
        会員情報
        .progress-status{class:@member_information}
      %li{class:@phone_information_title}
        電話番号認証
        .progress-status{class:@phone_information}
      %li{class:@address_information_title}
        お届け先住所入力
        .progress-status{class:@address_information}
      %li{class:@credit_information_title}
        支払い方法
        .progress-status{class:@credit_information}
      %li{class:@registration_check_title}
        完了
        .progress-status{class:@registration_check}
