.registration_login-container.progress_bar-container
  = render "registration_login_header"
  %nav.progress-bar
    %ol.step-bar
      %li.visited
        会員情報
        .progress-status.progressed
      %li
        電話番号認証
        .progress-status
      %li
        お届け先住所入力
        .progress-status
      %li
        支払い方法
        .progress-status
      %li
        完了
        .progress-status

  -# %ol.clearfix
  -#     %li.stepbar
  -#       会員情報
  -#       %span.progress-status
  -#     %li
  -#       電話番号認証
  -#       %span.progress-status
  -#     %li
  -#       お届け先住所入力
  -#       %span.progress-status
  -#     %li
  -#       支払い方法
  -#       %span.progress-status
  -#     %li
  -#       完了
  -#       %span.progress-status
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  -# %nav.progress-bar.signup-bar
  -#   %ol.clearfix
  -#     %li.active

  -#       会員情報
        
  -#       .progress-status
  -#     %li

  -#       電話番号認証

  -#       .progress-status
  -#     %li

  -#       お届け先住所入力

  -#       .progress-status
  -#     %li

  -#       支払い方法

  -#       .progress-status
  -#     %li

  -#       完了

  -#       .progress-status
























    -# %ol.clearfix
    -#   %li.stepbar
    -#     会員情報
    -#     %span.progress-status
    -#   %li
    -#     電話番号認証
    -#     %span.progress-status
    -#   %li
    -#     お届け先住所入力
    -#     %span.progress-status
    -#   %li
    -#     支払い方法
    -#     %span.progress-status
    -#   %li
    -#     完了
    -#     %span.progress-status

        
-# %ol.stepBar
-#   %li.visited
-#     %span 1
-#     = succeed "\u{5165}\u{529b}" do
-#       %br/
-#   %li
-#     %span 2
-#     = succeed "\u{78ba}\u{8a8d}" do
-#       %br/
-#   %li
-#     %span 3
-#     = succeed "\u{5b8c}\u{4e86}" do
-#       %br/
