@mixin registration-title{
  padding: 32px;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  line-height: 1.4;
}

@mixin link-right{
  float: right;
  font-size: 14px;
  cursor: pointer;
  a{
    color: #0099e8;
  }
  i{
    color: #0099e8;
  }
}
@mixin button-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
}

@mixin form-default{
  margin-top: 40px;
  overflow: hidden;
  label{
    font-weight: 600;
  }
  p{
    margin-top: 8px;
    line-height: 1.5;
  }
  span.optional{
    margin-left: 8px;
    padding: 2px 4px;
    border-radius: 2px;
    vertical-align: text-top;
    font-size: 12px;
    background: #ccc;
    color: #fff;
  }
  span.required{
    margin-left: 8px;
    padding: 2px 4px;
    border-radius: 2px;
    vertical-align: text-top;
    font-size: 12px;
    background: #ea352d;;
    color: #fff;
  }
  input{
    margin-top: 8px; 
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 16px 8px;
    font-size: 16px;
    outline: 0;
  }
  .select_wrap{
    margin-top: 8px; 
    position: relative;
    select{
      -webkit-appearance: none;
      padding: 0 16px;
      width: 100%;
      height: 48px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background: #fff;
      outline: 0;
    }
    i{
      height: 100%;
      display: block;
      position: absolute;
      top: 35%;
      right: 16px;
      z-index: 2;
      color: #888;    
    }
  }
}

@mixin registration__content {
  padding: 40px 40px 64px;
  &__box{
    max-width: 343px;
    margin: 0 auto;
  }
}

.prefecture-form-box{
  @include form-default;
}

.input-form-box{
  @include form-default;
  .btn-red{
    @include button-red;
  }
  .link-right{
    @include link-right;
  }
}
.first-form{
  margin-top: 0px;
}
