@mixin registration-title{
  padding: 32px;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  line-height: 1.4;
}

@mixin link-right{
  float: right;
  font-size: 14px;
  cursor: pointer;
  a{
    color: #0099e8;
  }
  i{
    color: #0099e8;
  }
}
@mixin button-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
}

@mixin form-default{
  margin-top: 40px;
  overflow: hidden;
  font-size: 14px;
  label{
    font-weight: 600;
  }
  p{
    margin-top: 4px;
    line-height: 1.5;
<<<<<<< HEAD
    font-size: 14px;
=======
<<<<<<< Updated upstream
=======
>>>>>>> ce5f872... 本人確認のビュー調整
  }
  p.text-center{
    text-align: center;
    a{
      color: #0099e8;
    }
    a:hover{
      @include a-tag-hover;
    }
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> ce5f872... 本人確認のビュー調整
  }
  span.optional{
    margin-left: 8px;
    padding: 2px 4px;
    border-radius: 2px;
    vertical-align: text-top;
    font-size: 12px;
    background: #ccc;
    color: #fff;
  }
  span.required{
    margin-left: 8px;
    padding: 2px 4px;
    border-radius: 2px;
    vertical-align: text-top;
    font-size: 12px;
    background: #ea352d;;
    color: #fff;
  }
  input{
    margin-top: 4px; 
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 16px 8px;
    font-size: 16px;
    outline: 0;
  }
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
=======
>>>>>>> ce5f872... 本人確認のビュー調整
  .input-text-container{
    width: 100%;
    display: flex;
    input.half{
<<<<<<< HEAD
      margin-top: 8px; 
      box-sizing: border-box;
      width: 50%;
      height: 48px;
=======
      margin-top: 4px; 
      box-sizing: border-box;
      width: 50%;
      height: 44px;
>>>>>>> ce5f872... 本人確認のビュー調整
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px 16px 8px;
      font-size: 16px;
      outline: 0;
    }
    input.half:nth-child(1){
      width: calc(50% - 8px);
      margin-right:8px; 
    }
  }
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> ce5f872... 本人確認のビュー調整
  .select_wrap{
    margin-top: 4px; 
    position: relative;
    display: flex;
    select{
      -webkit-appearance: none;
      padding: 0 16px;
      width: 100%;
      height: 44px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background: #fff;
      outline: 0;
    }
    i{
      display: block;
      position: absolute;
      top: 35%;
      right: 16px;
      z-index: 2;
      color: #888;    
    }
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
=======
>>>>>>> ce5f872... 本人確認のビュー調整
    .select_wrap-birth{
      position: relative;
      display: flex;
      select{
        -webkit-appearance: none;
        padding: 0 16px;
        width: 100%;
<<<<<<< HEAD
        height: 48px;
=======
        height: 44px;
>>>>>>> ce5f872... 本人確認のビュー調整
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background: #fff;
        outline: 0;
        width: 80px;
      }
      i{
        display: block;
        position: absolute;
        top: 35%;
        right: 28px;
        z-index: 2;
        color: #888;    
      }
      h2{
        margin-left: 8px;
        line-height: 3;
      }
    }
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> ce5f872... 本人確認のビュー調整
  }
}

@mixin registration__content {
  padding: 40px 40px 64px;
  &__box{
    max-width: 343px;
    margin: 0 auto;
    img{
      width: 100%;
      padding-top: 8px;
    }
  }
}

.prefecture-form-box{
  @include form-default;
}

.month-form-box{
  @include form-default;
  width: 150px;
  .select_wrap{
    width: calc(100% - 32px);
    display: inline-block;
  }
  h2{
    display: inline-block;
  }
}

.input-form-box{
  @include form-default;
  .btn-red{
    @include button-red;
  }
  .link-right{
    @include link-right;
  }
  .button-wrap{
    position: relative;
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
    .btn-red{
      display: block;
      @include button-red;
      height: 48px;
    }
    i{
      position: absolute;
      color: white;
      left: 40px;
      top: 18px;
    }
  }
}

.input-form-box:nth-child(1){
  margin-top:0 ;
}

.help-link{
  margin-top: 4px;
  font-weight: bold;
  @include link-right;
}
<<<<<<< HEAD

p.text-gray{
  margin-top: 8px;
=======
<<<<<<< Updated upstream
=======

p.text-gray{
  margin-top: 4px;
>>>>>>> ce5f872... 本人確認のビュー調整
  line-height: 1.5;
  font-size: 14px;
  color: #888;
}
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> ce5f872... 本人確認のビュー調整
