%li.notification__list
  %a
    = image_tag "mercari_profile.png"
    .notification__list__body
      .notification__list__body__text 事務局から個別メッセージ「《総額50万円分のポイント♪》TikTok「#メルカリコラボ」キャンペーンスタート！」
      .notification__list__body__time
        %i.far.fa-clock
        %span 5時間前
    %i.fas.fa-chevron-right
