.listing__edit
  .listing-edit__box
    .listing-edit__box__button
      =f.submit "変更する", class:'btn-default btn-red'
      %button.btn-default.btn-gray{type:"button"}
        =link_to 'キャンセル', root_path
