.listing-footer
  .listing-footer__content
    %ul.listing-footer__content__terms
      %li
        プライバシーポリシー
      %li
        メルカリ利用規約
      %li
        特定商取引に関する表記
    .listing-footer__content__logo
      =image_tag 'logo-gray.svg'
    %p
      ©2019Mercari