.input-form-box
  %label=label
  %span.required 必須
  .input-text-container
    = form.text_field name1 ,placeholder:example1
    = form.text_field name2 ,placeholder:example2
    -# %input.half{type:"text",placeholder:example1}
    -# %input.half{type:"text",placeholder:example2}
