.registration__title.mypage__title{
  box-sizing: border-box;
  height: 50px;
  padding: 8px 24px;
  line-height: 36px;
}
.registration__content.mypage__content{
  padding: 24px 16px 40px;
  font-size: 14px;
  .mypage__month-form-box{
    @include form-default;
    .selecters_wrap{
      .select_wrap{
        width: calc(50% - 32px);
        display: inline-block;
      }
      h2{
        display: inline-block;
      }
    }
  }
}
