.phone__container{
  .phone__title{
    @include registration-title;
  }
  .phone__content{
    @include registration__content;
    .phone__form__group{
      @include form-default;
      margin-top: 0px;
      label{
        font-size: 14px;
      }
    }
    p{
      margin: 8px 0 0;
      line-height: 1.5;
      font-size: 14px;
    }
    .btn-red{
      margin-top: 32px;
      @include button-red;
    }
    .link-right{
      @include link_right;
      margin-top: 32px;
    }
  }
}
