body{
  .progress_bar-container{
    display: flex;
    text-align:center;
    -webkit-justify-content: center;
    justify-content: center;
    border: 0;
    .progress-bar{
      padding: 40px 0 0 44px;
    .step-bar {
      display: flex;
      position: relative;
      text-align: center;
      li {
        font-size: 12px;
        color: #888;
        list-style: none;
        position: relative;
        margin: 0 40px 0 0;
        min-width: 60px;
        z-index: 1;
        .progress-status{
          background: #ccc;
          height: 12px;
          margin: 8px auto 0;
          width: 12px;
          border-radius: 50%;
          display: block;
          z-index: 1;
        }
        .progressed{
          background: #ea352d;
        }
        .progress-status:before, .progress-status:after {
          position: absolute;
          bottom: 5px;
          z-index: 1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          z-index: -1;
      }
      .progress-status:before {
        right: 50%;
    }
    }
    li.visited{
      color: #ea352d;
    }
    
    li:first-child {
      .progress-status:before{
            content: none;
        }
      }
      li:last-child {
        .progress-status:after{
              content: none;
          }
        }
    }
  }
}
main.signup-main{
  .btn-default{
    color: #fff;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 343px;
    height: 50px;
    line-height: 48px;
    font-size: 14px;
    border-radius: 4px
  }
  .signup-box{
    background: #fff;
    width: 700px;
    margin: 0 auto;
    h2.signup-box-head {
      font-size: 22px;
      padding: 32px;
    }
    .signup{
      padding: 24px 16px 40px;
      border-top: 1px solid #f5f5f5;
      &__email{
        display: block;
        .btn-mail{
          position: relative;
          background: #ea352d;
        }
        i.far.fa-envelope{
          margin: 15px 0 0px 15px;
          font-size: 20px;
          float: left;
          object-fit: cover;
          color: white;
        }
      }
      &__social{
        .btn-sns-facebook{
          margin: 16px auto;
          background: #385185;
          color: #fff;
          i.fab.fa-facebook-square{
            margin: 8px 0 0 8px;
            font-size: 30px;
            float: left;
            object-fit: cover;
          }
        }
        .btn-sns-google{
          color: black;
          background: #fffffe;
          margin-top: 16px;
          background: #fff url("/assets/google.svg/") ;
          background-repeat: no-repeat;
        }
      }
    }

  }
}
.test{
  height: 235px !important;
}
}
