.l-side {
  width: 280px;
    margin-right: 40px;
    height: 1252px;
    float: left;
    color: #333;
    font-size: 14px;
    
  .mypage-nav-list {
    
    
    .mypage-nav-list-itemavtive {
      background: #eee;
      font-weight: 600;
      position: relative;
      padding: 16px;
      height: 16px;

      i{
        position: absolute;
        right: 8%;
        top: 35%;
      }
    }
    .mypage-nav-list-item {
      background: #fff;
      position: relative;
      padding: 16px;
      height: 16px;

      i{
        position: absolute;
        right: 8%;
        top: 35%;
      }
    }
  }
}



