.mypage__container{
  width: 1020px;
  margin: 40px 68px;
  height: 100%;

  .mypage__main{
    background-color: blue;
    height: 100%;
    width: 700px;
    float: right;
    &__usericon{
      height: 200px;
    }
    &__information{
      background-color: green;
      height: 300px;
    }
    &__tradehistory{
      margin-top: 40px;
      background-color: yellow;
      height: 300px;
    }
  }
}
