.status-wrapper {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  width: 700px;
  background-color: white;
  &__title{
    padding: 0 16px;
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
    font-weight: bold;
  }
  &__tab{
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: 0 auto;
    
    .tab_item{
      width: calc(100%/3);
      height: 50px;
      background-color: #d9d9d9;
      line-height: 50px;
      font-size: 16px;
      text-align: center;
      color: #565656;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      transition: all 0.2s ease;
    }
    .tab_item:hover {
      opacity: 0.75;
    }
    input[name="tab_item"]{
      display: none;
    }
    #listing:checked ~ #listing_content,
    #trading:checked ~ #trading_content,
    #completed:checked ~ #completed_content {
      display: block;
    }
    input:checked + .tab_item {
      background-color: white;
      border-top: 2px solid #ea352d;
    }
    &__content{
      display: none;
      clear: both;
      &__list{
        display: flex;
        border-bottom: 1px solid #eee;
        height: 51px;
        padding: 16px;
        color: #333;

        &__detail{
          margin: 0 40px 0 20px;
        }
        &__click{
          position: absolute;
          line-height: 51px;
          right: 250px;
        }
      }
    }
    &__list{
      width: 700px;
      height: 75px;
      list-style: none;
      &__ele {
        background: #fff;
        width: 33.3%;
        text-align: center;
        line-height: 75px;
        vertical-align: top;
        height: 75px;
        float: left;
        &__link {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
.status-tag{
  background: #0099e8;
  display: inline-block;
  margin: 8px 0 0 0;
  padding: 5px 6px;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
}

    // &__index {
    //   width: 700px;
    //   min-height: 85px;
    //   background: #fff;
    //   .exhibit-wrapper__tab {
    //     &__list {
    //       position: relative;
    //       height: 84px;
    //       padding: 16px;
    //       &__icon {
    //         position: absolute;
    //         left: 80px;
    //         bottom: 20px;
    //         .fa-heart {
    //           position: absolute;
    //           bottom: 0;
    //         }
    //         .fa-comment-alt {
    //           color: #ccc;
    //           position: absolute;
    //           left: 40px;
    //         }
    //         span {
    //           margin-left: 90px;
    //           background: #0099e8;
    //           color: #fff;
    //           font-family: monospace;
    //         }
    //       }
    //     }
    //       img {
    //         height: 48px;
    //         width: 48px;
    //     }
    //   }
    // }