.listing-header{
  background-color: #f5f5f5;
  height: 128px;
  &__logo{
    margin: auto;
    width: 20%;
    text-align: center;
    padding: 40px 0 0;
  }
}
.listing{
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: auto;
  &__title{
    background-color: white;
    width: 700px;
    margin: 0 auto;
    h1{
      font-weight: bold;
      text-align: center;
      padding: 32px 16px;
      font-size: 22px;
    }
  }
  &__form{
    width: 700px;
    margin: 0 auto;
    background-color: white;
    border-top: 1px solid #eee;
    &__upload{
      padding: 40px;
      font-size: 16px;
      width: 620px;
      &__title{
        font-weight: 600;
        font-size: 16px;
        span{
          @include listing-require;
        }
      }

      &__comment{
        font-size: 14px;
        margin: 8px 0 16px;
        line-height: 1.5;
      }
      &__box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        #preview{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: space-between;
          box-sizing: border-box;
          padding: 0 10px 10px 0;
          width: 570px;
        }
        &__preview{
          width: 620px;
          height: 172px;
          cursor: pointer;
          background: #f5f5f5;
          border: 1px dashed #ccc;
          margin: 0 0 10px 10px;
        }
        #preview2{
          display: flex;
          flex-direction: row;
          padding: 0 10px 10px 0;
        }
        &__preview2{
          width: 590px;
          height: 172px;
          cursor: pointer;
          background: #f5f5f5;
          border: 1px dashed #ccc;
        }
        
        .listing-image-container{
          list-style: none;
          width: 100px;
          margin-bottom: 10px;
          border: 1px solid #eee;
          margin: 0 0 10px 10px;
          .image-box{
            width: 100px;
            line-height: 116px;
            height: 116px;
            margin: 0;
            img {
              width: 100px;
            }
          }
          .button{
            display: flex;
            justify-content: space-around;
            a{
              border-left: 1px solid #eee;
              display: inline-block;
              width: 50%;
              background: #f5f5f5;
              line-height: 44px;
              text-align: center;
              color: #0099e8;
            }
          }
        }
        &__comment{
          text-align: center;
          left: 16px;
          right: 16px;
          font-size: 14px;
          line-height: 1.5;
        }
        &__preview2{
          margin-bottom: 10px;
          display: block;
          width: 590px;
          height: 172px;
          display: flex;
          cursor: pointer;
          background: #f5f5f5;
          border: 1px dashed #ccc;
          &__comment{
            text-align: center;
            left: 16px;
            right: 16px;
            font-size: 14px;
            line-height: 1.5;
          }
        }
      }
    }

    &__product{
      font-size: 14px;
      padding: 40px;
      border-top: 1px solid #eee;
      &__form-group{
        @include listing-main-title;
        .require{
          @include listing-require;
        }
        .listing-input{
          @include listing-box;
          padding: 10px 16px 8px;
          height: 48px;
          border-radius: 4px;
          margin: 0 0 40px 0;
        }
        .listing-comment{
          font-weight: 600;
        }
        .listing-textarea{
          @include listing-box;
          padding: 10px;
          overflow: auto;
          max-width: 100%;
          min-height: 104px;
        }
      }
    }
    &__detail{
      display: flex;
      justify-content: space-between;
      padding: 40px;
      border-top: 1px solid #eee;
      &__title{
        @include listing-main-title;
        color: #888;
      }
      &__box{
        width: 400px;
        margin: 0;
        &__form-group{
          @include listing-sub-title;
          width: 400px;
          margin: 40px 0 0;

          &__require{
            @include listing-require;
          }
          &__category-select{
            @include category-select;
          }   
        }
      }
    }
    &__delivery{
      display: flex;
      justify-content: space-between;
      padding: 40px;
      border-top: 1px solid #eee;
      &__title{
        @include listing-main-title;
        color: #888;
      }
      &__box{
        width: 400px;
        margin: 0;
        &__form-group{
          margin: 40px 0 0;
          width: 400px;
          &__product-name{
            margin: 40px 0 0;
            @include listing-sub-title;
          }
          &__require{
            @include listing-require;
          }
          &__category-select{
            @include category-select;
          }   
        }
      }
    }
    &__price{
      display: flex;
      justify-content: space-between;
      padding: 0 0 24px;
      border: 0;
      padding: 40px;
      border-top: 1px solid #eee;
      &__title{
        @include listing-main-title;
        color: #888;
      }
      &__box{
        width: 400px;
        margin: 0;
        &__price{
          display: flex;
          justify-content: space-between;
          padding: 0 0 24px;
          &__left{
            @include listing-sub-title;
            line-height: 48px;
            &__require{
              @include listing-require
            }
          }
          &__right{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &__default{
              display: inline-block;
              width: 80%;
              margin: 0 0 0 5%;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              text-align: right;
            }
          }
        }
        &__fee{
          @include listing-sub-title;
          display: flex;
          justify-content: space-between;
          padding: 24px 0;
          border-top: 1px solid #ccc;
        }
        &__profit{
          @include listing-sub-title;
          display: flex;
          justify-content: space-between;
          padding: 24px 0;
          border-top: 1px solid #ccc;
          #salesprofit{
            font-size: 34px;
          }
        }
      }
    }
  }
}
.listing__last{
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: auto;
  &__box{
    border-top: 1px solid #eee;
    background-color: white;
    width: 700px;
    margin: 0 auto;
    &__attention{
      padding: 40px;
      font-size: 14px;
      @include listing-btn;
      a{
        color: #0099e8;
        text-decoration: none;
      }
      a:hover{
        @include a-tag-hover;
      }
    }
  }
}

.listing-edit{
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: auto;
  &__box{
    border-top: 1px solid #eee;
    background-color: white;
    width: 700px;
    margin: 0 auto;
    &__button{
      padding: 40px;
      font-size: 14px;
      @include listing-btn;
    } 
  }
}

.listing-footer{
  height: 220px;
  background-color: #f5f5f5;
  &__content{
    width: 456px;
    margin: 0 auto;
    padding: 40px 0;
    &__terms{
      display: flex;
      justify-content: space-around;
      li{
        font-size: 12px;
      }
      li:hover{
        @include a-tag-hover;
      }
    }
    &__logo{
      width: 18%;
      margin: 40px auto 0;
        text-align: center;
    }
    &__logo:hover{
      @include a-tag-hover;
    }
    p{
      text-align: center;
      font-size: 13px;
    }
  }
}

.listing-upload-drop-file{
  display: none;
}
.listing-upload-drop-file2{
  display: none;
}
.listing__form__upload__box__preview2{
  display: none;
}